*{
    font-family:'Times New Roman', Times, serif;
}

body{
    background-color: rgb(248, 235, 235);
}

#encabezado{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: brown;
}

#slide{
    width: 100%;
    color:white;
    background-color: blue;
    height: 300px;
    padding-top: 225px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

#contenedor{
    background-color: whitesmoke;
    border-style: solid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
}

#servicio1, #servicio2, #servicio3{
    width: 30%;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    float: left;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    border-color: rgb(217, 209, 209);
    background-color: whitesmoke;
    height: 250px;

    
}
