*{
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
    float:none;
}

.contenedor{
    /*width: 85%;*/
    margin: 0px auto;
   
}

#encabezado{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 100% ;
    padding: 15px;
}

body{
    background-color: rgb(54, 52, 52);
}

#logo{
    width:60%;
    float:left;
}

#logo h1{
    color:rgb(189, 204, 54);
    font-size: 40px;
    font-weight: 200;
}

#menu{
    width: 400px;
    float: right;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}



#menu ul li a{
    text-decoration: none;
    color:rgb(189, 204, 54);
    font-size: 20px;
}

#menu ul li a:hover{
    color: rgb(110, 52, 57);
    font-size: 25px;
}

#slide{
    background-color: rgb(110, 52, 57);
    height: 300px;
    width: 100%;
}
#slide h1{
    font-size: 40px;
    color:rgb(14, 14, 13);
    font-weight: 400;
    text-align: center;
    line-height: 290px;   
}

#slide img{
    height: 300px;
    margin: auto;
    display: block;
}


.subheader{
    height: 150px;
    border-bottom: 1px solid rgba(189, 204, 54);
    text-align: center;
}

.subheader h2{
    font-size: 50px;
    font-weight: 200;
    line-height: 140px;
    color: rgb(120, 129, 36);
}

.formaServicios{
    width: 30%;
    height: 300px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgb(226, 221, 221);
    float: left;    
    background-color: rgba(110, 52, 57);  
    text-align: center; 
    box-shadow: 5px 10px rgb(233, 228, 228);
}

.formaServicios img{
    height: 130px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.formaServicios h2{
    margin-bottom: 10px; 
    color:rgb(189, 204, 54);  
}

.formaServicios p{
    color:#000;
}

.forma{
    width: 30%;
    height: 500px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    border: 1px solid rgb(226, 221, 221);
    float: left;    
    background-color: rgba(110, 52, 57);  
    text-align: center;   
    box-shadow: 5px 10px rgb(233, 228, 228); 
}

.forma h2{
    margin-bottom: 10px; 
    color:rgb(189, 204, 54);  
}

.forma p{
    color:#000;
}

#pie{
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color:white;
}

#pie .subheader{
    color:white;
}

#pie ul{
    margin: 0px auto;
    width: 220px;
    display: block;
    list-style: none;
    margin-bottom: 20px
}

#pie li{
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

#pie .subheader h2{
    color:rgb(189, 204, 54);    
}
#pie p{
    margin-top: 5px;
}
#pie li:hover{
    opacity: 0.8;
    transform: scale(1.2,1.2);
}

@media(max-width:1200px){
    #logo{
        width: 40%;
    }
}

@media(max-width:844px){
    #logo{
        width: 100%;
        text-align: center;
    }
}

@media(max-width:800px){
    
    .formaServicios{
        width: 100%;

    }

    .forma{
        width: 100%;
    }
} 

  
